@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

:root {
  --black: black;
  --blue: #0d3dc2;
  --lightblue: rgb(201, 214, 250);
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  max-width: 1440px;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 1rem auto;
  font-family: 'Josefin Sans', sans-serif;
}

/*Extras: Titles and Cards*/

.softSkillsTitle {
  text-align: center;
  scroll-margin-top: 10ex;
}

.card {
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  background: linear-gradient(180deg, transparent, rgb(201, 214, 250, 0.2));
}

/*Navbar*/
.navbar {
  position: fixed;
  background-color: hsl(223, 83%, 91%);
  /* width: 75.5rem; */
  width: 100%;
  height: 60px;
  padding: 0 4em;
  /* max-width: 100%; */
  /* margin: 1.5rem auto */
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-letter {
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 3.1875rem;
  color: var(--blue);
  letter-spacing: 0.2em;
  padding: 0 2em;
}

.navbar-links {
  width: 25rem;
  height: 1.5rem;
}

.navbar__links-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__links__list__container-link {
  color: var(--black);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.navbar__links__list__container-link:hover {
  outline: 0.04rem solid var(--lightblue);
  background-color: rgb(208, 220, 251);
  color: white;
  border-radius: 0.2rem;
}

/* Description */

.descriptionContainer {
  display: flex;
  justify-content: flex-end;
  height: 603px;
  max-width: 100%;
  gap: 1.6875rem;
  margin: 1.375rem auto;
  margin-bottom: 0;
  font-family: 'Oxygen', sans-serif;
}

.descriptionContainer-texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
}

.descriptionContainer__texts-availabilityContainer {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-left: 6.5em;
  margin-bottom: 3em;
}

.descriptionContainer__texts__availabilityContainer-text {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.3125rem;
}

.descriptionContainer__texts__availabilityContainer-circle {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #00f07d;
}

.descriptionContainer__texts-description {
  font-size: 1.5rem;
  text-align: justify;
  line-height: 4rem;
  font-weight: 600;
  color: var(--black);
  padding-left:4.5em;
  padding-right: 1em;
}

.descriptionContainer__texts__description-strong {
  color: var(--blue);
}

.descriptionContainer__texts-previousWorks {
  margin-top: 5em;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--black);
  padding-left: 5.5em;
  font-family: 'Oxygen', sans-serif;
}

.descriptionContainer-images {
  background-image: url(../img/fondo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 1em;
  display: flex;
  order: 1;
}

.descriptionContainer__images-image {
  width: 400px;
  height: 400px;
  border-radius: 50% 0 50% 0;
  margin: auto;
  box-shadow: 1rem 1rem 1.5rem rgba(83, 84, 85, 0.25),
    -1rem -1rem 1.5rem rgba(83, 84, 85, 0.25);
}

/*Proyectos*/

.titleProjects {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.125rem;
  color: var(--blue);
  scroll-margin-top: 10ex;
}

.containerProjects {
  background-color: transparent;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 450px);
  justify-content: center;
  row-gap: 1rem;
  column-gap: 1rem;
  margin: auto;
  margin-top: 2rem;
}

.containerProjects img {
  width: 100%;
  margin: auto;
}

/* Phrase*/

.containerPhrase {
  width: 75.5rem;
  max-width: 100%;
  margin: auto;
  margin-top: 6rem;
  text-align: center;
  font-style: italic;
}

.containerPhrase-name {
  font-size: 1.5rem;
  line-height: 3.75rem;
  font-style: normal;
}

.containerPhrase-paragraph {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-family: 'Oxygen', sans-serif;
  width: 60%;
  margin: auto;
  
}

/*SoftSkills*/

.containersoftSkills {
  width: 75.5rem;
  max-width: 100%;
  margin-top: 2rem;
}

.softSkillsTitle {
  margin-top: 2rem;
}

.containersoftSkills {
  display: flex;
  margin: auto;
  margin-top: 3rem;
  gap: 1rem;
}

.containersoftSkills-containerSkill {
  width: 80%;
}

.containersoftSkills__containerSkill-figure {
  width: 4.25rem;
  height: 4.25rem;
  outline: 0.2rem solid var(--lightblue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 0 1.5rem hsl(223, 56%, 78%);
}

.containersoftSkills__containerSkill-title {
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
  font-size: 0.85rem;
  font-weight: 400;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.containersoftSkills__containerSkill-paragraph {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.625rem;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}

/* Skills */

.containerSkills {
  display: flex;
  margin: auto;
  margin-top: 3rem;
  gap: 1rem;
}

.SkillsTitle {
  text-align: center;
}

.containerSkills-containerSkill {
  width: 80%;
}

.containerSkills__containerSkill-figure {
  width: 4.25rem;
  height: 4.25rem;
  outline: 0.2rem solid var(--lightblue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 0 1.5rem hsl(223, 56%, 78%);
}

.containerSkills__containerSkill-title {
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
  font-size: 0.85rem;
  font-weight: 400;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.containerSkills__containerSkill-paragraph {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.625rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.figureOne {
  background-color: rgb(235, 173, 40);
}

.figureTwo {
  background-color: rgb(3, 152, 226);
}

.figureThree {
  background-color: rgb(251, 225, 25);
}

/* bootcamp */

.bootcamp {
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  
}

.bootcamp-paragraph {
  font-size: 1.125rem;
  line-height: 2.5rem;
  color: var(--blue);
  font-weight: 400;
  text-align: center;
  width: 70%;
  margin: auto;
}

.bootcamp-imagen {
  margin: auto;
  margin-top: 2rem;
  border-radius: 50%;
  display: block;
  box-shadow: 0rem 0rem 1rem rgba(83, 84, 85);
}

.bootcamp-autor {
  text-align: center;
  font-size: 0.9375rem;
  line-height: 1.4063rem;
}
.bootcamp-bootcampFrontEnd {
  text-align: center;
  font-size: 0.8125rem;
  line-height: 1.1875rem;
  font-weight: 400;
}

/*Form*/

.formSocialMedia {
  margin-top: 1rem;
  background: linear-gradient(180deg, transparent, rgb(201, 214, 250, 0.2));
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  align-items: flex-start;
}

/*Form Form */

.containerform {
  width: 50%;
  height: 85%;
  outline: 0.02rem solid gray;
  box-shadow: 0rem 0rem 1rem rgba(83, 84, 85);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.containerform-containeremail {
  width: 60%;
  margin: auto;
  position: relative;
}
.containerform__containeremail-input,
.containerform__containerTextArea-area {
  width: 100%;
}

.containerform__containeremail-input:focus
  + .containerform__containeremail-label,
.containerform__containeremail-input:not(:placeholder-shown)
  + .containerform__containeremail-label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: var(--blue);
}
.containerform__containeremail-label {
  color: rgb(184, 184, 184);
  position: absolute;
  top: -0.5rem;
  left: 0.3125rem;
  transform: translateY(0.6125rem);
  transition: transform 0.5s, color 0.3s;
}

.containerform-containertextArea {
  height: 50%;
}

.containerform__containerTextArea-area {
  font-family: inherit;
}

.containerform-button {
  position: absolute;
  top: 95%;
  left: 15%;
  height: 1.8rem;
  width: 120px;
  background-color: var(--blue);
  border-radius: 0.2rem;
  color: white;
  border: none;
  cursor: pointer;
}

.containerform-button:hover {
  background-color: var(--lightblue);
  color: black;
}

/*Form Social Media */
.containerSocialMedia-title {
  font-size: 1.8rem;
  line-height: 2.875rem;
}

.containerSocialMedia-listSocialMedia {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.containerSocialMedia__listSocialMedia-circle {
  outline: 0.04rem solid var(--lightblue);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerSocialMedia__listSocialMedia__element-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerSocialMedia__listSocialMedia-circle:hover {
  background-color: rgb(208, 220, 251);
}

.containerSocialMedia-countryCity,
.containerSocialMedia-contact {
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 400;
}

/*MOBILE + TABLET */

@media (max-width: 1024px) {
  /*Navbar*/
  
  .navbar{
    padding: 0 1em;
  }

  .navbar-letter {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 3.1875rem;
    color: var(--blue);
    padding: 0;
    letter-spacing: 0;
  }

  .navbar-links {
    width: auto;
    height: 1.5rem;
  }

  .navbar__links-list {
    gap:0.8rem
  }

  .navbar__links__list__container-link {
    font-size: 0.8rem;
  }

  /* Description */

  .descriptionContainer {
    gap: 1rem;
    margin-left: 1em;
    margin-top: 3em;
  }

  .descriptionContainer__texts-description {
    font-size: 1.2rem;
    line-height: 2em;
    margin-right: 2em;
  }

  .descriptionContainer__texts-previousWorks {
    font-size: 1rem;
  }

  /*Projects*/

  .titleProjects {
    margin-top: 2rem;
  }

  .descriptionContainer {
    flex-direction: column;
    height: auto;
  }

  .descriptionContainer-images {
    order: 0;
    width: 100%;
    height: 300px;
    margin: auto;
  }

  .descriptionContainer__images-image {
    width: 250px;
    height: 250px;
    box-shadow: 1rem 1rem 1.5rem rgba(83, 84, 85, 0.25),
    -1rem -1rem 1.5rem rgba(83, 84, 85, 0.25);
  }

  /*SoftSkills*/
  .containersoftSkills {
    flex-direction: column;
    align-items: center;
    margin-left: 1em;
  }

  /* Skills */
  .containerSkills {
    flex-direction: column;
    align-items: center;
  }

  /* bootcamp */

  .bootcamp {
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .bootcamp-paragraph {
    font-size: 1rem;
    line-height: 2em;
  }

  /*Form Social Media */
  .formSocialMedia {
    width: 100;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgb(201, 214, 250, 0.2));
    display: block;
  }

  /*Form Form*/

  .containerform {
    margin: auto;
    width: 50%;
    height: 300px;
  }

  .containerSocialMedia {
    margin: 2rem auto 1rem auto;
  }

  /*Form SocialMedia*/
  .containerSocialMedia-title,
  .containerSocialMedia-countryCity,
  .containerSocialMedia-contact {
    text-align: center;
  }
}
